.settings {
	position: relative;
	width: 28px;
	min-width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	transition: all 0.1s linear;

	&__button {
		z-index: 1;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.9);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}

	&__menu {
		position: absolute;
		right: 14px;
		height: 28px;
		display: flex;
		padding-right: 14px;
		border-radius: 20px 0 0 20px;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(1px);
		box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);

		&-item {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 80px;
			flex-grow: 1;
			border-radius: 50px;
			align-self: stretch;

			&:hover {
				background: #e5e9f9;
			}
		}
	}
}
