.task {
	padding: 10px;
	border-radius: 10px;
	background: linear-gradient(to right, #f6faff, #eff4fe);
	user-select: none;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
	transition: all linear 0.1s;

	&:hover {
		filter: brightness(104%);
	}

	&__medium {
		background: linear-gradient(to right, #fefdef, #fcf5d8);
	}

	&__high {
		background: linear-gradient(to right, #faede9, #fcdcd0);
	}

	&__main {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		gap: 10px;
	}

	&__line {
		display: flex;
		align-items: flex-start;
		gap: 10px;
	}

	&__label {
		margin-top: 4px;
	}
}
