.create-task-bar {
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-flex-group: red;

	&__input {
		width: 100%;
		padding: 12px 8px;
		font-size: 16px;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 10px;
		font-size: 20px;
		border: none;
		background: linear-gradient(#add0fa, #81ade5);
		color: #fff;
		border-radius: 50px;
		box-shadow: 0 6px 10px #cdddf2;
		transition: all 0.1s linear;

		&:disabled {
			opacity: 0.5;
		}

		&:hover:not(:disabled) {
			transform: scaleX(0.97) scaleY(1.1);
		}
	}
}
