.task-list {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&:not(:last-child) {
		margin-bottom: 10px;
	}
	&:not(:first-child) {
		margin-top: 10px;
	}

	&__title {
		padding: 10px 0;
		text-align: center;
		font-weight: 300;
	}
}
