.task-info {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-top: 10px;
	padding-top: 8px;
	border-top: 1px dashed lightgrey;

	&__tag {
		display: inline-block;
		padding: 1px 6px;
		font-size: 12px;
		background: #89aed5;
		color: #ffffff;
		border-radius: 10px;
	}

	&__date {
		font-size: 12px;
		color: gray;
	}
}
