.todo {
	max-width: 400px;
	width: 100%;

	&__content {
		position: relative;
		padding: 10px 15px 15px 15px;
		border-radius: 0 0 12px 12px;
		background: #ffffff;
		box-shadow: -6px 10px 10px rgba(211, 211, 211, 0.6);
		max-height: 74vh;
		overflow-y: scroll;
	}

	&__no-tasks {
		padding: 30px;
		text-align: center;
		font-size: 24px;
		font-weight: 300;
		background: linear-gradient(to right, #f6faff, #eff4fe);
		color: #89aed5;
	}
}

.create-task-button {
	margin-top: 30px;
	width: 100%;
	padding: 8px 10px;
	font-size: 20px;
	border: none;
	background: linear-gradient(#add0fa, #81ade5);
	color: #fff;
	border-radius: 50px;
	box-shadow: 0 6px 10px #cdddf2;
	transition: all 0.1s linear;

	&:hover {
		transform: scaleX(0.97) scaleY(1.1);
	}
}
