.todo-wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.todo {
	max-width: 500px;
	width: 100%;
	padding: 10px;
	background: white;
	border-radius: 12px;
}

.create-task-bar {
	display: flex;
	gap: 10px;
	box-flex-group: red;
}

.create-task-bar__input {
	width: 100%;
	padding: 12px 8px;
	font-size: 16px;
}

.create-task-bar__button {
	padding: 0 22px;
}
