.todo-wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: start;
	padding: 20px;
}

.todo {
	max-width: 500px;
	width: 100%;
	padding: 10px;
	background: white;
	border-radius: 12px;
}

.create-task-bar {
	display: flex;
	gap: 10px;
	box-flex-group: red;

	&__input {
		width: 100%;
		padding: 12px 8px;
		font-size: 16px;
	}

	&__button {
		padding: 0 22px;
	}
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px 0;

	&:last-child {
		padding-bottom: 0;
	}

	&__main {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__checkbox {
		width: 30px;
		height: 30px;
	}

	&__delete-btn {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: none;
		background: #dddddd;
		color: white;
		transition: all 0.1s linear;

		&:hover {
			background: rgb(252, 169, 169);
		}
	}
}
